
.main {
    background-color: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutUs {
    display: flex;   
    gap: 5rem;
    align-items: center;
    margin-bottom: 50px;
}

.aboutUs > h1{
    display: flex;   
    flex-direction: row;
}

.aboutUs > div {
    background-color: var(--secondary-color);
    width: 60vh;
    height: 4px;
  }

.infoPara > p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    gap: 40px;
    margin-bottom: 50px;
}


.subHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.subHeader3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 200;
}

.departments {
    display: flex;   
    gap: 5rem;
    align-items: center;
    margin-bottom: 50px;
}

.departments > div {
    background-color: var(--secondary-color);
    width: 60vh;
    height: 4px;
}

#carouselImage {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
    z-index: 100;
  }

#testOnImage {
    background-color: rgba(16, 46, 53, 0.5);
    padding: 10px;
    margin: 0px 50px;
}