
.main {
    background-color: var(--quaternary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9rem;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutUs {
    display: flex;   
    gap: 5rem;
    align-items: center;
    margin-bottom: 50px;
}

.aboutUs > h1{
    display: flex;   
    flex-direction: row;
}

.aboutUs > div {
    background-color: var(--secondary-color);
    width: 60vh;
    height: 4px;
  }

.infoPara > p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    gap: 40px;
    margin-bottom: 50px;
}


.subHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.subHeader3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 200;
}

.departments {
    display: flex;   
    gap: 5rem;
    align-items: center;
    margin-bottom: 50px;
}

.departments > div {
    background-color: var(--secondary-color);
    width: 60vh;
    height: 4px;
}

.body {
    margin: -10px;
    min-height: 100vh;
  }
  
  .header{
    display: flex;
    margin-left: 10vh;
    padding-top: 10vh;
  }
  
  .images{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  