.main {
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
}

.mainHeader {
  margin-bottom: 30px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  padding: 20em;
  padding-bottom: 8em;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 120px;
  margin-top: 30px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  background-color: transparent;
}

.mainLine {
    margin-top: 30px;
    background-color: var(--secondary-color);
    width: 40vh;
    height: 4px;
}

.aButtons {
  display: flex;
  gap: 30px;
  align-content: center;
}

.aButtons > button:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  cursor: pointer;
}

.downArrow {
  margin-left: 70rem;
}






/* MEDIA QUERIES */

/* Desktop */

@media screen and (min-width: 1000px) {
}


/* Tablet */

@media screen and (max-width: 1000px) and (min-width: 600px) {
}

/* Mobile */

@media screen and (max-width: 600px) {
}